<!-- views/partials/header.ejs -->
 <head>
  <title>My Favourite Musicians</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<nav>
  <ul>
    <li><a href="/dave">Santan Dave</a></li>
    <li><a href="/burnaboy">Burna Boy</a></li>
    <li><a href="/kendrick">Kendrick Lamar</a></li>
    <li><a href="/jeriq">Jeriq</a></li>
  </ul>
</nav>
<hr>
