<%- include('partials/header') %>
<h1>Burna Boy</h1>
<p>Nigerian Afro-fusion artist, Grammy Award winner, and creator of hits like "Ye", "Last Last", and "African Giant".</p>
<%- include('partials/footer') %>
