<%- include('partials/header') %>
<h1>Santan Dave</h1>
<p>British rapper known for his storytelling, lyricism, and albums like "Psychodrama" and "We're All Alone in This Together".</p>
<%- include('partials/footer') %>