<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>
<h1>Welcome to My Favourite Musicians</h1>
<p>Click on a name in the nav to learn more about each artist.</p>
<%- include('partials/footer') %>
  </body>
</html>
