<%- include('partials/header') %>
<h1>Jeriq</h1>
<p>Nigerian rapper from the East, known for his street-inspired Igbo rap style and projects like "Billion Dollar Dream".</p>
<%- include('partials/footer') %>