<%- include('partials/header') %>
<h1>Kendrick Lamar</h1>
<p>American rapper and Pulitzer Prize winner, known for albums like "DAMN.", "good kid, m.A.A.d city", and "Mr. Morale & the Big Steppers".</p>
<%- include('partials/footer') %>